.sign-up {
    grid-row: content-s/content-e;
    grid-column: s/e;

    // &__page-title {

    // }

    &__form {
        display: grid;
        grid-template-rows: 
        [name-s] 80px
        [name-e email-s] 80px
        [email-e space-s] 25px 
        [space-e password-s] 20px 
        [password-e confirm-s] 50px 
        [confirm-e] 60px
        [login-s] 38px 
        [login-e back-s] 30px
        [back-e] 30px;
    }
}

.sign-up-form {
    // & > * {
    //     grid-column: 1/-1;
    // }
    &__name {
        grid-row: name-s/name-e;
        text-decoration: none;
    }

    &__email {
        grid-row: email-s/email-e;
        text-decoration: none;
    }

    &__password {
        margin-top: 35px;
        grid-row: password-e/password-e;
        text-decoration: none;
    }


    &__confirm {
        grid-row: confirm-e/confirm-e;
        text-decoration: none;
    }


    &__login {
        margin-top: 24px;
        grid-row: login-s/login-e;

    }
    
    &__back {
        margin-top: 40px;
        grid-row: back-s/back-e;
    }

    &__details {
        grid-row: 1/-1;
        justify-self: end;
        align-self: start;
    }
}