.sign-in {
   

    &__form {
       
    }
}

.sign-in-form {

    // & > * {
    //     grid-column: 1/-1;
    // }
    &__email {
        grid-row: email-s/email-e;
        text-decoration: none;
    }

    &__password {
        grid-row: password-e/password-e;
        text-decoration: none;
    }


    &__login {
        grid-row: login-s/login-e;

    }
    &__details {
        grid-row: 1/-1;
        justify-self: end;
        align-self: start;
    }
}