.form-input {
    display: grid;
    grid-gap: 6.5px;

    & > * {
        padding: 10px;

    }

    &__label {
        font-size: 14px;
    }

    &__input {
        box-sizing: border-box;
        height: 39px;
        width: 426px;
        border: 2px solid #000; 
        border-radius: 20px;
        font-size: 18px;

    }
}

.form-button {
    &__button {
        height: 38px;
        width: 243px;
        border-radius: 20px;
        background-color: #8e44ad;
        font-size: 16px;
        color: white;

        &:focus {
            outline: none;
        }

        &__blue-button {
            background: #3498db;
            width: 137px;
        }
    }
}

.form-button-long-gray {
    display: grid;
    grid-gap: 6.5px;

    &__button {
        height: 38px;
        width: 243px;
        border-radius: 20px;
        background-color: #999;
        font-size: 16px;
        color: white;

        &:focus {
            outline: none;
        }

        &__label {
            font-size: 14px;
            margin: 20p;;
        }
    }
}