.header {
    display: grid;
    justify-content: space-between;
    align-items: center;

    &__links {
        display: grid;
        grid-gap: 47px;
        color: #333;
        font-size: 16px;
        justify-self: center;
    
        // & > * {
        //     grid-row: s/e;
        // }

        // margin-right: 47px;
    }

}

.green-text {
    color: #00CB79 !important;
}

.navbar {
    grid-row: navbar-e/navbar-s;
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: [s] 1fr [e];
    align-items: center;

    justify-content: center;
    grid-column-gap: 40px;

    color: #E6E6E6;
    font-size: 18px;
    font-weight: normal;

    & > * {
        grid-row: s/e;
    }

}