.account-navbar {
    grid-row: navbar-e/navbar-s;
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: [s] 1fr [e];
    align-items: center;

    justify-content: center;
    grid-column-gap: 40px;
    text-decoration-line: underline;

    color: #000;
    font-size: 18px;
    font-weight: normal;

    & > * {
        grid-row: s/e;
    }

}