*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Didact Gothic', sans-serif;
}

html {
    height: 100%;
    background-image: 
        linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
        font-size: 62.5%;
}

h1 {
    font-size: 1rem;
}



@import 'layout.scss';
@import 'headernavbar.scss';
@import 'auth/signin.scss';
@import 'auth/signup.scss';
@import 'page-title.scss';
@import 'form-fields.scss';
@import 'details.scss';