*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Didact Gothic', sans-serif;
}

a {
    text-decoration: none;
}

html {
    background-image: 
        linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
        font-size: 62.5%;
}

.header {

   h1 {
    font-size: 3rem;
} 

}

h1 {
    font-size: 1.5rem;
}




@import 'layout.scss';
@import 'headernavbar.scss';
@import 'auth/signin.scss';
@import 'auth/signup.scss';

@import 'page-title.scss';
@import 'form-fields.scss';
@import 'details.scss';
@import 'homepage.scss';