* {
    box-sizing: inherit;
    font-family: 'Didact Gothic', sans-serif; 
}

a {
    text-decoration: none;
}

html {
    
    font-size: 62.5%;
}


h1 {
    font-size: 3rem;
}



@import 'headernavbar.scss';
@import 'layout.scss';

@import 'auth/signin.scss';
@import 'auth/signup.scss';

@import 'page-title.scss';
@import 'form-fields.scss';
@import 'details.scss';

@import 'account/account.scss';
@import 'account/purchase-history.scss';
@import 'account/account-information.scss';
