.purchase-history {
    &__content {
       display: grid;
       grid-template-columns: 1fr 1fr; 
       margin: 37px 5px;
    }
    
    
     &__page-title {
        border-bottom: 1px solid #000;
    }

    &__bottom-border {
        border-bottom: 1px solid #000;
    }
}   

.purchases {
    display: grid;
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-template-rows: [s] 1fr [sm] 1fr [m-s] 25px [m-e] 1fr [me] 1fr [e];
    &__order-date {
        grid-column: s/m;
        grid-row: s/sm;
    }

    &__order-number {
        grid-column: s/m;
        grid-row: sm/m-s;
    }

    &__shipping-address {
        grid-column: s/m;
        grid-row: m-e/e;
    }

    &__total {
        grid-column: m/e;
        grid-row: s/sm;
    }

    &__credit-card {
        grid-column: m/e;
        grid-row: sm/m-s;
    }
}

.purchase-detail-label {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: [s] 1fr [m] 1fr [e];
    grid-gap: 10px;

    & > * {
        grid-row: s/e;
        text-align: left;
    }
    &__title {
        grid-column: s/m;
        text-align: right;
        font-weight: 600;
        font-size: 16px;

    }
    &__value {
        grid-column: m/e;
        text-align: left;
        font-size: 14px;
    }
    &__track-shipment {
        grid-column: m/e;
        grid-row: m-e/me;
    }
    &__print-receipt {
        grid-column: m/e;
        grid-row: me/e;
    }
    &__print-receipt,
    &__track-shipment {
        justify-self: center;
        text-decoration-line: underline;
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
}