.clothing {
  
    .clothing-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-top: 20px;
        margin-left: 35px;
        font-size: 1.5rem;

        img:hover {
            transition: .5s ease-in-out;
            opacity: 80%;
        }

        p:hover {
            transition: .1s ease-in-out;
            color: purple;
            cursor: pointer;
            font-weight: bold;
        }

        button {
            background-color: purple;
            border: 1px solid black;
            border-radius: 70px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            outline: 0;
        }

        button:hover {
            transform: scale(0.97);
        }

        button:active {
            transform: scale(0.95);
        }
    }
}


